.App {
  text-align: center;
  font-size: 18px;
  background-color: rgb(248,249,250);
  min-height: 800px;
  font-family: 'Inria Sans';font-size: 18px;
}
:root
{
  --main-color:#E6392B;
  --sec-color:#f7a708;
}
.App-text
{
  color:var(--main-color)
}

.gold-color
{
  font-weight: bold;
  color: var(--sec-color);
}
.App_button
{
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--main-color);
  --bs-btn-border-color: var(--main-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #d1352a;
  --bs-btn-hover-border-color: #d1352a;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #d1352a;
  --bs-btn-active-border-color: #d1352a;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--main-color);
  --bs-btn-disabled-border-color: var(--main-color);
    border-radius: 30px;
    height: 42px;
    transition: ease-in-out .15s ;
    margin: 5px;
}
.App_button:hover
{
  scale: 1.05;
  color: #f7b125;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.App_link
{
  font-size: medium;
  transition: ease-in-out .5s ;
  text-decoration:none;
  color: gray;
}
.App_link:hover
{
  color: var(--main-color);
}
.justify_content_between
{
  display: flex;
  justify-content: space-between
}
